{{#each stations}}
  <section class="ui segment">
    <h2 class="ui header">
      {{name}}
    </h2>
    {{> station-panel}}
    <div>
      <a href="station/{{id}}" class="ui icon button">
          <i class="icon folder open"></i>
      </a>
      <a href="delete-station/{{id}}" class="ui icon button">
          <i class="icon trash"></i>
      </a>
    </div>
  </section>
{{/each}}
