<div class="ui five doubling inverted cards">
    {{> card title=name}}
    {{> card title="Weather" valueA=latestReading.weatherCondition}}
    {{> card title="Temp" valueA=(concat readings.[0].temperature " C")
                          valueB=(concat latestReading.tempInFahrenheit " F")}}
    {{> card title="Wind" valueA=(concat latestReading.beaufortForce " Bft")}}
    {{> card title="Pressure" valueA=(concat readings.[0].pressure " hPa")}}
</div>