<nav class="ui menu">
  <header class="ui header item"> <a href="/">WeatherTop</a></header>
  <span class="ui borderless item">{{title}}</span>
  <div class="right menu">
    <a id="about" class="item" href="/about">About</a>
    <a id="signup" class="item" href="/signup">Signup</a>
    <a id="login" class="item" href="/login">Login</a>
  </div>
</nav>

<script>
  $({{id}}).addClass("active item");
</script>