{{> welcome-menu}}

<div class="ui center aligned inverted segment" id="masthead">
  <h1 class="ui header">
    Welcome to WeatherTop
  </h1>
  <h3 class="ui header">
    A place for all your weather station needs
  </h3>
  <a href="/about" class="ui huge blue inverted button">Learn More</a>
</div>

<section class="ui center aligned segment" id="start-main">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="grid-cell eight wide column">
        <h2 class="ui header">Keep Track of Your Weather Stations</h2>
        <p style="font-size: 1.2em">With a WeatherTop account, you can keep track of all of your existing weather
          stations and their readings, as well as adding and deleting new stations and readings.</p>
        <h2 class="ui header">Receive Detailed Analytics and Insights</h2>
        <p>View in-depth data on the latest reading from each station as well as insightful
          analytics and trends on your stations and account.</p>
      </div>
      <div class="grid-cell eight wide right floated column">
        <img src="images/weather-station.jpeg" class="ui large bordered rounded image">
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a href="/signup" class="ui huge blue button">Sign Up Now</a>
      </div>
    </div>
  </div>
</section>