{{> menu}}

<section class="ui segment">
  <h2 class="ui header">
    {{station.name}}
  </h2>
  {{> station-panel station}}
  {{> list-readings station}}
  {{> add-reading}}
  <form action="/station/{{station.id}}/generate-reading" method="post">
    <button class="ui submit red button">Generate Reading</button>
  </form>



  <div class="ui segment" id="chart"></div>
  <script>
    const data = {
      labels: [
        {{#each dailyReadings.labels}}
          "{{this}}",
        {{/each}}
      ],
      datasets: [
        {
          name: "Temperature", type: "line",
          values: [
            {{#each dailyReadings.temperature}}
              {{this}},
            {{/each}}
          ]
        }
      ]
    }

    const chart = new frappe.Chart("#chart", {
      title: "Temperature Trend",
      data: data,
      type: 'line',
      height: 250,
    })
  </script>
</section>