{{> menu}}

<section class="ui segment">
  <h2 class="ui header">
    {{station.name}}
  </h2>
  {{> station-panel station}}
  {{> list-readings station}}
  {{> add-reading}}
  {{> generate-reading}}

  {{> chart id="temp-chart" name="Temperature" values=dailyReadings.temperature labels=dailyReadings.labels}}
  {{> chart id="wind-speed-chart" name="Wind Speed" values=dailyReadings.windSpeed labels=dailyReadings.labels}}
  {{> chart id="pressure-chart" name="Pressure" values=dailyReadings.pressure labels=dailyReadings.labels}}
</section>
